html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; 
  font-family: DejaVu Sans Mono, monospace;
}

.scrollback {
  flex: 1;
  white-space: pre-line;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.4;
  height: 150px;
  overflow: none;
}
.scrollback > kbd {
  font-family: inherit;
  font-weight: bold;
}
.scrollback > kbd::before {
  content: '> ';
  display: inline;
}

.Modal {
  position:fixed;
  bottom: 10px;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  /* width: 50vw; */
  justify-content: center;
  /* align-content: center;   */
  flex-direction: column;
}
.Modal-content {
  margin: 0 auto;
  max-width: 600px;
}

input {
  color: white;
  background-color: black;
  /* border: 0px; */
  width: 100%;
  padding-left: 20px;
}
.input-left {
  position: relative;
}
.input-left::before {
  content: '> ';
  color: white;
  display: block;
  position: absolute;
  top: 0px;
  left: 5px;
}
input:focus {
  outline-width: 0;
}

.border { border-width: 1px; border-color: white; border-style: solid; } 
